# Set URL for your scoped packages.
# For example package with name `@foo/bar` will use this URL for download
@fakebook:registry=https://git.ds-in.net/api/v4/projects/467/packages/npm/
//git.ds-in.net/api/v4/projects/467/packages/npm/:_authToken=${NPM_TOKEN}
